.character-card-image
  &.mdl-card
    width 23.5vw
    height 35vw
  & > .mdl-card__actions
    height 78px
    padding 16px
    background rgba(0, 0, 0, 0.4)
.character-card-image__filename
    color #fff
    font-size 14px
    font-weight 500
