extends layout
block title
    title About Us | Dissipate
block content
    div(class="about-div")
        h1 About US
        h2 What We Are
            p.
                Dissipate is a free, open source web tool for players of Final Fantasy XIV. Dissipate connects to the
                FFXIV Lodestone, to provide data on items, and calculate the total Item Level as well as the Displayed
                Item Level. In addition, Dissipate will contact FFLogs to gather information on whether or not various
                raids have been completed.
        h2 How to Use It
            p.
                Simply search for a character name, and optionally provide the server that the player is from. Feel free
                to share your character pages for a quick over view of your character. Please note, that because we are
                pulling the data directly from lodestone without caching it, we are unable to guarantee that the user
                information is current. All raid data, however, should be up to date.
        h2 How We Built It
            p.
                Dissipate is built in Java, using the Spark framework. For the front end, it was designed with google's
                Material Design Light, the Pug template language, and Stylus. To see the source, feel free to visit the project on GitLab by
                clicking the emblem in the footer.
block scripts
    link(rel="stylesheet", href="/styles/about.css")
