extends ./layout.jade
block title
    title #{character.cName} | Dissipate
block content
    div(class="mdl-grid")
        div(class="mdl-cell mdl-cell--4-col")
            table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
                thead
                    th(class="mdl-data-table__cell--non-numeric")
                    th(class="mdl-data-table__cell--non-numeric") Name
                    th(class="mdl-data-table__cell") Level
                tbody
                    each item in character.leftItems
                        tr
                            td(class="mdl-data-table__cell--non-numeric")
                                img(src="#{item.imgurl}", width="40", height="40")
                            td(class="mdl-data-table__cell--non-numeric") #{item.name}
                            td(class="mdl-data-table__cell") #{item.itemLevel}
        div(class="mdl-cell mdl-cell--3-col")
            div(class="character-card-image mdl-card mdl-shadow--2dp", id="charImage")
                div(class="mdl-card__title mdl-card--expand")
                div(class="mdl-card__actions character-card-image__filename")
                    div #{character.cName} | (#{character.server})
                    div Item Level :#{character.itemLevel}
                    div Total Item Level : #{character.totalItemLevel}
        div(class="mdl-cell mdl-cell--3-col")
            table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
                thead
                    th(class="mdl-data-table__cell--non-numeric")
                    th(class="mdl-data-table__cell--non-numeric") Name
                    th(class="mdl-data-table__cell") Level
                tbody#character.items
                    each item in character.rightItems
                        tr
                            td(class="mdl-data-table__cell--non-numeric")
                                img(src="#{item.imgurl}", width="40", height="40")
                            td(class="mdl-data-table__cell--non-numeric") #{item.name}
                            td(class="mdl-data-table__cell") #{item.itemLevel}
        div(class="mdl-cell mdl-cell--2-col")
            if hidden
                div(class="mdl-shadow--2dp")
                h6 This Player has elected to remain hidden
            else
                table(class="mdl-data-table mdl-js-data-table mdl-shadow--2dp")
                    thead
                        th(class="mdl-data-table__cell--non-numeric") Encounter
                        th(class="mdl-data-table__cell--non-numeric") Cleared
                    tbody
                        tr
                            td(class="mdl-data-table__cell--non-numeric") Hummelfaust
                            td(class="mdl-data-table__cell--non-numeric")
                                if Cleared.hummelfaust
                                    i(class="material-icons") done
                        tr
                            td(class="mdl-data-table__cell--non-numeric") Ratfinx Twinkledinks
                            td(class="mdl-data-table__cell--non-numeric")
                                if Cleared.ratfinx
                                    i(class="material-icons") done
                        tr
                            td(class="mdl-data-table__cell--non-numeric") Cuff of the Son
                            td(class="mdl-data-table__cell--non-numeric")
                                if Cleared.cuffOfTheSon
                                    i(class="material-icons") done
                        tr
                            td(class="mdl-data-table__cell--non-numeric") Quickthinx Allthoughts
                            td(class="mdl-data-table__cell--non-numeric")
                                if Cleared.quickthinx
                                    i(class="material-icons") done
                        tr
                            td(class="mdl-data-table__cell--non-numeric") Brute Justice
                            td(class="mdl-data-table__cell--non-numeric")
                                if Cleared.bruteJustice
                                    i(class="material-icons") done
    script
        document.getElementById("charImage").style.background = "url(#{character.characterPictureURL}) center / cover"
block scripts
    link(rel="stylesheet", href="/styles/character.css")
