extends ./layout.jade
block scripts
    meta(http-equiv="refresh", content="5")
block content
    h1 Unable to connect with Lodestone, automatically refreshing in 5 seconds.
    h6 Error message : #{Error}