doctype html
html
    head
        block title
            title Dissipate
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://code.getmdl.io/1.1.3/material.teal-red.min.css")
        link(rel="stylesheet", href="/styles/layout.css")
        script(defer, src="https://code.getmdl.io/1.1.3/material.min.js")
        block scripts
    body
        div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--no-drawer-button")
            header(class="mdl-layout__header")
                div(class="mdl-layout__header-row")
                    span(class="mdl-layout-title")
                        |Dissipate
                    div(class="mdl-layout-spacer")
                    nav(class="mdl-navigation")
                        a(class="mdl-navigation__link", href="/") Home
                    form(action="/search")
                        div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable")
                            label(class="mdl-button mdl-js-button mdl-button--icon", for="navBarSearch", id="navSearchLabel")
                                i(class="material-icons")
                                    |search
                            div(class="mdl-textfield__expandable-holder")
                                input(class="mdl-textfield__input", type="text", name="Character", id="navBarSearch")
            main(class="mdl-layout__content")
                block content
            footer(class="mdl-mini-footer")
                div(class="mdl-mini-footer__left-section")
                    div(class="mdl-logo")
                        |Dissipate for Final Fantasy XIV
                    ul(class="mdl-mini-footer__link-list")
                        li
                            a(href="/about") About Dissipate
                div(class="mdl-mini-footer__right-section")
                    a(href="https://gitlab.com/sirlag/DissipateService")
                        img(class="gitlab-image", src="/images/gitlab-logo.png")