div(class="mdl-grid")
    div(class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4col")
        form(action="/search", id ="mainSearch")
            input(class="mdl-textfield__input", name="Character", type="text", id="sample1")
            label(class="mdl-textfield__label", for="sample1")
                |Character Name
    div(class="mdl-cell mdl-cell--1col")
        button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent", type="submit", form="mainSearch")
            |Search